<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food Blog</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <aside id="leftside"></aside>
    <aside id="rightside"></aside>
    <div id="container">
      <headercomponent></headercomponent>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item btn btn-outline-info m-1">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item btn btn-outline-info m-1">
                <a class="nav-link" href="#">Recipes</a>
              </li>
              <li class="nav-item btn btn-outline-info m-1">
                <a class="nav-link" href="#">Lifestyles</a>
              </li>
              <li class="nav-item btn btn-outline-info m-1">
                <a class="nav-link" href="#">Videos</a>
              </li>
              <li class="nav-item btn btn-outline-info m-1">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <main>
        <aside id="photos">
          <titleimage></titleimage>
        </aside>
        <comments></comments>
        <section id="blogposts" class="p-5">
          <div class="post card p-4" v-for="data in comments" :key="data.date">
            <div class="user-info">
              <img
                v-bind:src="filelocation"
                width="40"
                v-on:click="openmodal(data.author.toLowerCase())"
              />
              <span class="author">{{data.author}}</span> —
              <span class="date">{{data.date}}</span>
              <span class="reply">{{data.reply}}</span>
            </div>
            <p class="pt-3">{{data.comment}}</p>
          </div>
        </section>
      </main>
      <div v-if="showmodal" id="myModal" class="modalStart">
        <!-- Modal content -->
        <div class="modalContent">
          <span class="cross" v-on:click="togglemodal">&times;</span>
          <div v-html="htmlcontent"></div>
          <button
            class="close"
            v-on:click="togglemodal"
            style="margin-top: 6rem"
          >
            Close
          </button>
        </div>
      </div>

      <footer>&copy; Copyright FOOD BLOG</footer>
    </div>

    <!-- Reference to External Vue file. -->
    <script src="javascripts/vue.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
